@import "tailwindcss";

@theme {
  --color-bg: #303030;
  --color-card: #222222;
  --default-font-family: Space-Grotesk, sans-serif;
}

body {
  @apply bg-bg text-white font-sans;
  font-family: "Space-Grotesk", system-ui, sans-serif;
}
